@model DinnerViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upcoming Dinners</h2>
<ul>
    @for (int i = 0; i < Model.NumberofallDinners; i++)
    {
        <li>
            @Html.ActionLink(Model.Dinners[i].Title, "Details", new { id = Model.Dinners[i].DinnerID })
            on
            @Html.Encode(Model.Dinners[i].EventDate.ToShortDateString())
            at
            @Html.Encode(Model.Dinners[i].EventDate.ToShortTimeString())
        </li>
    }
    

</ul>

<div>
    @Html.ActionLink("Create", "Create")
    @if (Model.Dinners.HasPreviousPage)
    {
        @Html.RouteLink("<<<","UpcomingDinners",new {page=(Model.Dinners.PageIndex-1)})
    }
    @if (Model.Dinners.HasNextPage)
    {
        @Html.RouteLink(">>>","UpcomingDinners",new {page=(Model.Dinners.PageIndex+1)})
    }
</div>